#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

#top {
    height: 135px;
}

.inLine {
    display: inline;
}

.floatLeft {
    float: left;
}