#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
}

div {
    display: block;
}

#top {
    height: 135px;
}

#menu {
    width: 545px;
    text-align: right;
}

.inLine {
    display: inline;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#content {
    width: 545px;
}

.spacing {
    word-spacing: 45px;
}

#information {
    text-align: center;
    width: 200px;
    border-style: solid;
    padding: 1px;
    margin-right: 200px;
    line-height: 1px;
    margin-bottom: 100px;

}


#footer {
    margin-top: 100px;
    text-align: center;
    background-color: black;
    height: 120px;
    color: white;
}