#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, serif;
}

.clear {
    clear: both;
}

#top {
    height: 135px;
    line-height: 0;
}

#menu {
    width: 545px;
    text-align: right;
    margin-top: 0;
    padding: 10px auto auto;
}

#logo {
    width: 329px;
}

.inLine {
    display: inline;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

#content {
    width: 545px;
}

.wdspacing {
    word-spacing: 45px;
}

.wdspacing2 {
    word-spacing: 35px;
}
.indent {
    padding-left: 30px;
}

#information {
    text-align: center;
    width: 200px;
    border: thin solid;
    padding: 1px;
    margin-right: 200px;
    line-height: 1px;
    margin-bottom: 150px;

}

#mountain {
    padding: 15px;
    border: thin solid;
    line-height: 0.5px;
}

div {
    display: block;
}

#footer {
    width: 960px;
    text-align: center;
    background-color: black;
    height: 120px;
    color: white;
    margin-bottom: 30px;
    border-top: 0;
    padding-top: 0;
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

.paddingTop {
    padding-top: 50px;
}

#image {
    position: relative;
    text-align: center;
    border-bottom: 0;
    padding-bottom: 0;
}

.text {
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.8;
    width: 480px;
    height: 554px;
}

.titleText {
    padding-top: 120px;
    padding-right: 40px;
}

.subText {
    text-align: right;
    color: blue;
    padding-right: 37px;
}